.navbar {
  background-color: #030349;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.navbar-left {
  flex: 0 1 auto;
}

.navbar-center {
  flex: 1;
  text-align: center;
}

.navbar-right {
  flex: 0 1 auto;
}

.navbar a {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
  color: #ad1a3a;
  transform: scale(1.05); 
}

.navbar a:active {
  color: #ad1a3a;
}
