body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: #0056b3;
}

main {
  padding: 2rem;
  background-color: var(--background-color); 
}


.full-width-container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
